.wrapper {
  width: 500px;
  height: 500px;
  margin: 0 auto;
  background-color: rgb(95, 117, 167);
  border-radius: 25px;
  position: relative;
  top: 70px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.selector {
  margin: 5px;
  padding: 5px;
  flex: 0 1 auto;
}

.btn {
  margin: 5px;
  padding: 5px;
  flex: 0 1 auto;
}

.title {
  margin-bottom: 50px;
  padding: 5px;
  flex: 0 1 auto;
  text-align: center;
  font-size: 26px;
  font-weight: normal;
}
